<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <lumberjack>
      <setting type="Lumberjack.Log4Net.Appender.LumberjackConfiguration, Lumberjack.Log4Net.Appender">
        <Endpoint>https://localhost:5001/api/logs</Endpoint>
        <ApiKey>694233a8-c460-4bb4-b647-de855cf05725</ApiKey>
        <Instance>Test</Instance>
        <SubmitIntervalMs>3000</SubmitIntervalMs>
        <BatchSize>200</BatchSize>
        <RequestTimeoutMs>10000</RequestTimeoutMs>
        <Enabled>true</Enabled>
        <MaximumQueueSize>1000000</MaximumQueueSize>
        <MinimumLevel>40000</MinimumLevel>
        <Namespaces>
          <namespace value="XXX" disabled="false" level="40000">
            <exclude>
              <text>abcxyz</text>
            </exclude>
            <include>
              <text>abcxyz</text>
            </include>
          </namespace>
        </Namespaces>
      </setting>
    </lumberjack>
  </sitecore>
</configuration>