<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <log4net>
      <appender name="Lumberjack" type="Lumberjack.Log4Net.Appender.LumberjackAppender, Lumberjack.Log4Net.Appender">
      </appender>
      <root>
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </root>
      <logger name="Sitecore.Diagnostics.Publishing">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="ClientRoot">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.Owin.Diagnostics">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.Diagnostics.Search">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.FXM.Diagnostics">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.EDS">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.EXM">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.Analytics.Aggregation">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
      <logger name="Sitecore.Xdb.Processing.ContactMerge.Logger">
        <appender-ref ref="Lumberjack" desc="Lumberjack" />
      </logger>
    </log4net>

  </sitecore>
</configuration>